.mint-indexsection-index{
    font-size:.373333rem;
 font-weight: inherit

}
.mint-indexsection-index{
    padding-left:0.4rem !important;
    padding-top:0.1333rem;
    padding-bottom:0.1333rem;
}
.mint-cell{
    height:1.1067rem;
    .mint-cell-text{
        font-size:.426667rem;
        color: #838383;
        margin-left:0.2667rem
    }
}
.mint-indexlist-nav{
    width:0.6667rem;
    .mint-indexlist-navitem{
        font-size:0.2933rem
    }
}